/**
 * Hoja de estilos del proyecto
 */

 body {
    font-family: 'Merriweather', serif;
 }

 a {   
   text-decoration: none !important;
   color: gray !important;
 }

 a:visited, a:focused {   
   text-decoration: none !important;
   color: gray !important;
 }

 a:hover {   
   text-decoration: none !important;
   color: mediumpurple !important;   
 }

 li {
   line-height: 2 !important;
 }


 .navbar {
   background-color: thistle;
   color: white;
 }

 .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
   color: rebeccapurple !important;
 }

 .btn-primary {
   background-color: rebeccapurple !important;
   border-color: rebeccapurple !important;
   font-weight: bold;    
 }   

 main {
    min-height: 73vh;    
 }

 #title-container {
    padding-top: 5em;
    padding-bottom: 20px;
 }

 section {
   margin-bottom: 50px;
   margin-top: 20px;
}

 .section-title {
    color: darkslategray;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

 @media (max-width: 576px) {
    #title-container {
        padding-top: 4em;
        padding-bottom: 10px;
    }  
 }